body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.MainHeader {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 20px;
}

@media screen and (min-height: 400px) {
    .MainHeader {
        font-size: 30px;
    }
}

.BelowTitle {
    position: absolute;
    left: 20%;
    top: 10%;
    width: 80%;
}

.OnlineUsers {
    position: absolute;
    top: 20%;
    right: 30%;
    padding-left: 8px;
}

.Welcome {
    width: 40%;
    margin-bottom: 16px;
}

/* Utility */

.blue {
    background-color: rgb(13, 13, 129);
    width: 100%;    
    height: 10%;
    top: 0;
    position: absolute;
}

.underline {
    border-bottom: 1px solid black;
}

.leftline {
    border-left: 1px solid black;
}

.rightline {
    border-right: 1px solid black;
}

.messageContent {
    color: rgb(59, 53, 53);
}

.timestamp {
    color: red;
    padding-left: 32px;
}