body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
  }
  
.MainHeader {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
}

.BelowTitle {
    position: absolute;
    left: 20%;
    top: 10%;
    width: 80%;
}

.OnlineUsers {
    position: absolute;
    top: 20%;
    right: 30%;
}
