.MainHeader {
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, -50%);
}

.BelowTitle {
    position: absolute;
    left: 10%;
    top: 10%;
    width: 90%;
}

.OnlineUsers {
    position: absolute;
    top: 20%;
    right: 20%;
}
