@import '_variables';

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.MainHeader {
    position: absolute;
    width: 100%;
    text-align: center;
    color: $header-colour;
    font-size: $font-size-s;
}

@media screen and (min-height: 400px) {
    .MainHeader {
        font-size: $font-size-l;
    }
}

.grid {
    width: 100%;
    height: 100%;
}

.grid-row {
    position: absolute;
    display: inline-block;
    width: 100%;
    top: 15%;
}

.grid-1-3 {
    width: 30%;
    float: left;
}

.textbox {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    width: 70%;
    padding: 0;
}

.textbox--unhighlighted {
    border: 1px solid rgb(0, 0, 0);
}

.textbox--highlighted {
    border: 3px solid rgb(17, 50, 238);
}

.submitButton {
    position: absolute;
    box-sizing: border-box;
    height: 100%;
    left: 70%;
    margin-left: 18px;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(13, 13, 129);
    color: white;
}

.submitButton--effect {
    background-color:white !important;
    color: rgb(13, 13, 129) !important;;
}

.message {
    margin: 0;
    padding-bottom: 6px;
}

/* Utility */

.blue {
    background-color: $background-color;
    width: 100%;    
    height: 10%;
    top: 0;
    position: absolute;
}

.underline {
    border-bottom: 1px solid black;
}

.leftline {
    border-left: 1px solid black;
}

.rightline {
    border-right: 1px solid black;
}

.messageContent {
    color: rgb(59, 53, 53);
}

.timestamp {
    color: red;
    padding-left: 32px;
}
